.alert {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.alert-message {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #721c24;
}

.alert-button {
  background-color: #721c24;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.alert-button:hover {
  background-color: #a52a2a;
}
